### Java / Maven ###

# Standard Maven build directory
/target/

# Keep Maven wrapper JAR if the wrapper is used
!.mvn/wrapper/maven-wrapper.jar

# Maven backup / release files
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Compiled class files
*.class

# Logs
logs/
*.log
*.out

# Package / archive files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar


### Build directories (generic) ###
/build/
/out/


### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr


### Eclipse ###
.project
.classpath
.settings/
.apt_generated
.factorypath
.springBeans
.sts4-cache


### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/


### VS Code ###
.vscode/


### OS / Editor files ###
.DS_Store
Thumbs.db
ehthumbs.db
*.swp
*.swo
